{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

	<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="panel-body shadow Compte">
				<img class="img-responsive" src="{{asset('bundles/swapplatform/images/silhouette.png') }}">
				{{ service.user }}
				<a href="{{ path('swap_message_send', { 'id': service.id, 'idUser': service.user.id }) }}">
					<button id="boutonProfil" class="btn btn-primary text-center col-md-12">Envoyer un message</button>
				</a>
			</div>
		</div>

{% endblock %}